<div class="container table-responsive py-5">
  <div class="toolbar ">
    <select class="form-control" (change)="filterEvent($event)">
      <option value="">All Available Game</option>
      <option value="{{game.game_name}}" *ngFor="let game of gameList">{{game.game_name}}</option>
    </select>
    
    <div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
        data-bs-whatever="@mdo">New Event</button>
    </div>
  </div>

  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Event Name</th>
        <th scope="col">Plat Form</th>
        <th scope="col">Developer Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">Expired Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of event">
        <th>{{event.event_name}}</th>
        <td>{{event.platform}}</td>
        <td>{{event.developer_name}}</td>
        <td>{{event.start_date}}</td>
        <td>{{event.end_date}}</td>
        <td><button type="button" class="btn btn-danger" (click)="deleteEvent(event.id)">Delete</button>
        </td>
      </tr>
    </tbody>
    <!-- <h6 *ngIf="event.length === 0">
      No Event
    </h6> -->
  </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="eventForm" (ngSubmit)="addEvent()">

        <div class="modal-body">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Game Name:</label>
            <input type="text" formControlName="gameName" class="form-control" id="recipient-name">
          </div>
          <div *ngIf="submitted && eventFormError.gameName.errors">
            <div *ngIf="eventFormError.gameName.errors.required" class="error">Game Name required</div>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Event Name:</label>
            <input type="text" formControlName="eventName" class="form-control" id="recipient-name">
          </div>
          <div *ngIf="submitted && eventFormError.eventName.errors">
            <div *ngIf="eventFormError.eventName.errors.required" class="error">Event Name required</div>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Developer Name:</label>
            <input type="text" formControlName="developer" class="form-control" id="recipient-name">
          </div>
          <div *ngIf="submitted && eventFormError.developer.errors">
            <div *ngIf="eventFormError.developer.errors.required" class="error">Developer Name required</div>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Platform:</label>
            <select class="form-control" formControlName="platForm">
              <option value="">Select</option>
              <option value="Android">Android</option>
              <option value="IOS">IOS</option>
              <option value="Windows">Windows</option>
              <option value="Java">Java</option>
            </select>
          </div>
          <div *ngIf="submitted && eventFormError.platForm.errors">
            <div *ngIf="eventFormError.platForm.errors.required" class="error">Select A Platform</div>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Start Date:</label>
            <input type="date" formControlName="startDate" class="form-control" id="recipient-name">
          </div>
          <div *ngIf="submitted && eventFormError.startDate.errors">
            <div *ngIf="eventFormError.startDate.errors.required" class="error">Select A Platform</div>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Last Date:</label>
            <input type="date" formControlName="endDate" class="form-control" id="recipient-name">
          </div>
          <div *ngIf="submitted && eventFormError.endDate.errors">
            <div *ngIf="eventFormError.endDate.errors.required" class="error">Select A Platform</div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeModel>Close</button>
          <button type="submit" class="btn btn-primary">Add Event</button>
        </div>
      </form>

    </div>
  </div>
</div>